version: '2.40.3'
services:
  database:
    build:
      context: ./database
      dockerfile: database.Dockerfile
    volumes:
      - dbdata:/data
  frontend_app:
    build:
      dockerfile: frontend.Dockerfile
      context: docker_app-frontend/
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://backend_app:8000
    depends_on:
      - backend_app
  backend_app:
    build:
      dockerfile: docker_app-backend/Dockerfile
      context: docker_app-backend/
    depends_on:
      - database
    environment:
      - DB_CONNECTION=Data Source=/app/database/db.sqlite
    volumes:
      - dbdata:/app/database
    ports:
      - "8080:8080"
